.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  justify-content: space-between;
}

.label {
  font-weight: bold;
  white-space: nowrap;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
